html, body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6; /* Rmedy mftou7 y3ti ndra n9iya */
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.main-content {
  padding-top: 20px;
}
/* Zid had l'layout structure f globals.css dyalk */
.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f7fb; /* L'fond m-matchi m3a l'Vue Globale */
}

.main-content {
  flex: 1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}